<% include layouts/header.ejs %>

<% if(typeof(user) !== "undefined"){ %>
    <h1>Welcome <%= user.username %></h1>
    <% if(typeof(user.firstname) === "undefined" || typeof(user.lastname) === "undefined" || typeof(user.email) === "undefined" || typeof(user.gender) === "undefined"){ %>
        <p>Before you can play you need to update your profile. Click <a href="/profile-edit">here</a> to do it.</p>
    <% }else if(user.gender.length <= 0 || user.firstname.length <= 0 || user.lastname.length <= 0 || user.email.length <= 0){ %>
        <p>Before you can play you need to update your profile. Click <a href="/profile-edit">here</a> to do it.</p>
    <% }else{ %>
        <a href="/game">
            <button type="button" class="btn btn-warning btn-lg">Join Game</button>
        </a>
    <% } %>
<% }else{%>
    <h1>Welcome</h1>
    <p>Why dont you login?</p>
<% } %>

<% include layouts/footer.ejs %>

