body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
    text-transform: capitalize;
}
a {
    color: #00B7FF;
}
ul{
    list-style: none;
    padding-left: 0;
    text-transform: capitalize;
}
.nav-bar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px;
}
.user-info{
    float: right;
}
.user-info span{
    text-transform: capitalize;
}
.well p{
    text-transform: capitalize;
}
ul.links {
    list-style: none;
    padding-left: 0;
    float: left;
}
.links li {
    float: left;
    margin-right: 20px;
}
 .mandatory{
     color: #BB2424;
 }
 
 .left-block {
    border: 1px solid;
    width: 20%;
    
    padding: 20px 40px;
    float: left;
}
.right-block {
    border: 1px solid;
    width: 78%;
    float: right;
    
    overflow: hidden;
    position: relative;
}
.logger {
    width: 30%;
    height: 100%;
    position: relative;
    padding: 20px 40px;
    border: 1px solid;
    float: right;
}
.top{
    margin-bottom: 20px;   
}
.top .left-block, .top .right-block{
    height: 50VH;
}
.player-panel{
    width: 69.99%;
    height: 100%;
    position: relative;
    border: 1px solid;
    float:left;
}
.game-stage {
    width: 100%;
    height: 69.9%;
    border: 1px solid;
    padding: 20px;
    position: relative;
}
.active-cards {
    width: 100%;
    height: 30%;
    border: 1px solid;
    position: relative;
}
.bottom .left-block, .bottom .right-block{
    height: 25VH;
}

.moment{
    display:none;
}
.moment.active{
    display: block;
}
.moment button {
    margin: 0 auto;
    display: block;
}

.gender, .level{
    margin-left: 20px;
    text-transform: uppercase;
}

